In [105]:
import math
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp
%matplotlib inline

In [106]:
pd.options.display.max_rows = 8

In [107]:
import zipfile

In [108]:
zipfile.ZipFile('names.zip').extractall('.')

In [109]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9E76-EADA

 Directory of C:\Users\Abdalrhman Ashour\Baby_Names_Project

07/17/2020  04:45 AM    <DIR>          .
07/17/2020  04:45 AM    <DIR>          ..
07/17/2020  01:20 AM    <DIR>          .ipynb_checkpoints
07/17/2020  12:49 AM             4,285 07_06_solution.ipynb
07/17/2020  04:46 AM         8,652,542 allyears.csv.gz
07/17/2020  04:45 AM            17,251 loading_and_unzipping_dataset.ipynb
07/17/2020  01:24 AM           232,774 name_comparison.ipynb
07/17/2020  12:53 AM    <DIR>          names
07/17/2020  12:49 AM         8,528,645 names.zip
07/17/2020  12:53 AM               864 project.ipynb
07/17/2020  01:23 AM           252,170 top_ten_names.ipynb
               7 File(s)     17,688,531 bytes
               4 Dir(s)   1,991,999,488 bytes free

In [110]:
ls names

 Volume in drive C has no label.
 Volume Serial Number is 9E76-EADA

 Directory of C:\Users\Abdalrhman Ashour\Baby_Names_Project\names

07/17/2020  12:53 AM    <DIR>          .
07/17/2020  12:53 AM    <DIR>          ..
07/17/2020  04:46 AM           316,364 NationalReadMe.pdf
07/17/2020  04:46 AM            24,933 yob1880.txt
07/17/2020  04:46 AM            24,065 yob1881.txt
07/17/2020  04:46 AM            26,559 yob1882.txt
07/17/2020  04:46 AM            26,002 yob1883.txt
07/17/2020  04:46 AM            28,670 yob1884.txt
07/17/2020  04:46 AM            28,625 yob1885.txt
07/17/2020  04:46 AM            29,822 yob1886.txt
07/17/2020  04:46 AM            29,531 yob1887.txt
07/17/2020  04:46 AM            33,064 yob1888.txt
07/17/2020  04:46 AM            32,297 yob1889.txt
07/17/2020  04:46 AM            33,621 yob1890.txt
07/17/2020  04:46 AM            33,186 yob1891.txt
07/17/2020  04:46 AM            36,542 yob1892.txt
07/17/2020  04:46 AM            35,433 yob1893.txt
07/17/2020  04:46 AM            36,817 yob1894.txt
07/17/2020  04:46 AM            38,232 yob1895.txt
07/17/2020  04:46 AM            38,747 yob1896.txt
07/17/2020  04:46 AM            37,936 yob1897.txt
07/17/2020  04:46 AM            40,924 yob1898.txt
07/17/2020  04:46 AM            38,141 yob1899.txt
07/17/2020  04:46 AM            46,859 yob1900.txt
07/17/2020  04:46 AM            39,584 yob1901.txt
07/17/2020  04:46 AM            42,284 yob1902.txt
07/17/2020  04:46 AM            42,679 yob1903.txt
07/17/2020  04:46 AM            44,808 yob1904.txt
07/17/2020  04:46 AM            46,003 yob1905.txt
07/17/2020  04:46 AM            45,845 yob1906.txt
07/17/2020  04:46 AM            49,829 yob1907.txt
07/17/2020  04:46 AM            50,841 yob1908.txt
07/17/2020  04:46 AM            53,501 yob1909.txt
07/17/2020  04:46 AM            58,710 yob1910.txt
07/17/2020  04:46 AM            61,761 yob1911.txt
07/17/2020  04:46 AM            80,729 yob1912.txt
07/17/2020  04:46 AM            88,705 yob1913.txt
07/17/2020  04:46 AM           101,543 yob1914.txt
07/17/2020  04:46 AM           119,431 yob1915.txt
07/17/2020  04:46 AM           123,876 yob1916.txt
07/17/2020  04:46 AM           126,774 yob1917.txt
07/17/2020  04:46 AM           133,055 yob1918.txt
07/17/2020  04:46 AM           132,729 yob1919.txt
07/17/2020  04:46 AM           137,757 yob1920.txt
07/17/2020  04:46 AM           139,192 yob1921.txt
07/17/2020  04:46 AM           138,159 yob1922.txt
07/17/2020  04:46 AM           136,669 yob1923.txt
07/17/2020  04:46 AM           139,609 yob1924.txt
07/17/2020  04:46 AM           136,776 yob1925.txt
07/17/2020  04:46 AM           134,302 yob1926.txt
07/17/2020  04:46 AM           133,882 yob1927.txt
07/17/2020  04:46 AM           130,705 yob1928.txt
07/17/2020  04:46 AM           126,445 yob1929.txt
07/17/2020  04:46 AM           125,956 yob1930.txt
07/17/2020  04:46 AM           119,615 yob1931.txt
07/17/2020  04:46 AM           120,774 yob1932.txt
07/17/2020  04:46 AM           115,898 yob1933.txt
07/17/2020  04:46 AM           118,063 yob1934.txt
07/17/2020  04:46 AM           116,298 yob1935.txt
07/17/2020  04:46 AM           114,342 yob1936.txt
07/17/2020  04:46 AM           115,342 yob1937.txt
07/17/2020  04:46 AM           116,361 yob1938.txt
07/17/2020  04:46 AM           114,798 yob1939.txt
07/17/2020  04:46 AM           115,651 yob1940.txt
07/17/2020  04:46 AM           117,219 yob1941.txt
07/17/2020  04:46 AM           121,646 yob1942.txt
07/17/2020  04:46 AM           121,517 yob1943.txt
07/17/2020  04:46 AM           118,114 yob1944.txt
07/17/2020  04:46 AM           116,520 yob1945.txt
07/17/2020  04:46 AM           125,468 yob1946.txt
07/17/2020  04:46 AM           134,063 yob1947.txt
07/17/2020  04:46 AM           132,440 yob1948.txt
07/17/2020  04:46 AM           132,865 yob1949.txt
07/17/2020  04:46 AM           133,226 yob1950.txt
07/17/2020  04:46 AM           135,493 yob1951.txt
07/17/2020  04:46 AM           137,646 yob1952.txt
07/17/2020  04:46 AM           140,143 yob1953.txt
07/17/2020  04:46 AM           141,667 yob1954.txt
07/17/2020  04:46 AM           143,627 yob1955.txt
07/17/2020  04:46 AM           146,563 yob1956.txt
07/17/2020  04:46 AM           149,144 yob1957.txt
07/17/2020  04:46 AM           148,695 yob1958.txt
07/17/2020  04:46 AM           151,947 yob1959.txt
07/17/2020  04:46 AM           154,030 yob1960.txt
07/17/2020  04:46 AM           157,606 yob1961.txt
07/17/2020  04:46 AM           157,996 yob1962.txt
07/17/2020  04:46 AM           158,901 yob1963.txt
07/17/2020  04:46 AM           160,568 yob1964.txt
07/17/2020  04:46 AM           155,011 yob1965.txt
07/17/2020  04:46 AM           157,419 yob1966.txt
07/17/2020  04:46 AM           160,606 yob1967.txt
07/17/2020  04:46 AM           167,452 yob1968.txt
07/17/2020  04:46 AM           177,991 yob1969.txt
07/17/2020  04:46 AM           191,516 yob1970.txt
07/17/2020  04:46 AM           198,166 yob1971.txt
07/17/2020  04:46 AM           199,468 yob1972.txt
07/17/2020  04:46 AM           203,048 yob1973.txt
07/17/2020  04:46 AM           210,504 yob1974.txt
07/17/2020  04:46 AM           219,193 yob1975.txt
07/17/2020  04:46 AM           224,915 yob1976.txt
07/17/2020  04:46 AM           235,016 yob1977.txt
07/17/2020  04:46 AM           235,976 yob1978.txt
07/17/2020  04:46 AM           246,474 yob1979.txt
07/17/2020  04:46 AM           251,455 yob1980.txt
07/17/2020  04:46 AM           251,898 yob1981.txt
07/17/2020  04:46 AM           254,894 yob1982.txt
07/17/2020  04:46 AM           250,968 yob1983.txt
07/17/2020  04:46 AM           252,735 yob1984.txt
07/17/2020  04:46 AM           260,330 yob1985.txt
07/17/2020  04:46 AM           268,116 yob1986.txt
07/17/2020  04:46 AM           278,403 yob1987.txt
07/17/2020  04:46 AM           291,074 yob1988.txt
07/17/2020  04:46 AM           309,554 yob1989.txt
07/17/2020  04:46 AM           322,047 yob1990.txt
07/17/2020  04:46 AM           327,203 yob1991.txt
07/17/2020  04:46 AM           331,559 yob1992.txt
07/17/2020  04:46 AM           337,914 yob1993.txt
07/17/2020  04:46 AM           338,223 yob1994.txt
07/17/2020  04:46 AM           339,136 yob1995.txt
07/17/2020  04:46 AM           343,055 yob1996.txt
07/17/2020  04:46 AM           350,104 yob1997.txt
07/17/2020  04:46 AM           361,635 yob1998.txt
07/17/2020  04:46 AM           369,390 yob1999.txt
07/17/2020  04:46 AM           385,101 yob2000.txt
07/17/2020  04:46 AM           391,165 yob2001.txt
07/17/2020  04:46 AM           394,821 yob2002.txt
07/17/2020  04:46 AM           402,610 yob2003.txt
07/17/2020  04:46 AM           413,495 yob2004.txt
07/17/2020  04:46 AM           420,214 yob2005.txt
07/17/2020  04:46 AM           440,363 yob2006.txt
07/17/2020  04:46 AM           451,397 yob2007.txt
07/17/2020  04:46 AM           452,865 yob2008.txt
07/17/2020  04:46 AM           448,033 yob2009.txt
07/17/2020  04:46 AM           439,608 yob2010.txt
07/17/2020  04:46 AM           437,159 yob2011.txt
07/17/2020  04:46 AM           435,049 yob2012.txt
07/17/2020  04:46 AM           428,768 yob2013.txt
07/17/2020  04:46 AM           428,107 yob2014.txt
07/17/2020  04:46 AM           426,134 yob2015.txt
07/17/2020  04:46 AM           424,451 yob2016.txt
07/17/2020  04:46 AM           418,588 yob2017.txt
07/17/2020  04:46 AM           411,162 yob2018.txt
             140 File(s)     25,564,293 bytes
               2 Dir(s)   1,991,983,104 bytes free

In [111]:
open('names/yob2011.txt','r').readlines()[:20]

['Sophia,F,21842\n',
 'Isabella,F,19910\n',
 'Emma,F,18803\n',
 'Olivia,F,17322\n',
 'Ava,F,15503\n',
 'Emily,F,14258\n',
 'Abigail,F,13248\n',
 'Madison,F,12389\n',
 'Mia,F,11530\n',
 'Chloe,F,10991\n',
 'Elizabeth,F,10091\n',
 'Ella,F,9590\n',
 'Addison,F,9302\n',
 'Natalie,F,8638\n',
 'Lily,F,8180\n',
 'Grace,F,7633\n',
 'Samantha,F,7395\n',
 'Avery,F,7341\n',
 'Sofia,F,7328\n',
 'Aubrey,F,7177\n']

In [94]:
pd.read_csv('names/yob2011.txt')

         Sophia  F  21842
0      Isabella  F  19910
1          Emma  F  18803
2        Olivia  F  17322
3           Ava  F  15503
4         Emily  F  14258
...         ... ..    ...
33902     Zylar  M      5
33903     Zylas  M      5
33904     Zyran  M      5
33905   Zyshawn  M      5
33906  Zytavion  M      5

[33907 rows x 3 columns]

In [95]:
pd.read_csv('names/yob2011.txt', names=['name','sex','number'])

           name sex  number
0        Sophia   F   21842
1      Isabella   F   19910
2          Emma   F   18803
3        Olivia   F   17322
4           Ava   F   15503
...         ...  ..     ...
33903     Zylar   M       5
33904     Zylas   M       5
33905     Zyran   M       5
33906   Zyshawn   M       5
33907  Zytavion   M       5

[33908 rows x 3 columns]

In [113]:
# for each year in 1880-2018, load the corresponding CSV file names/yobXXXX.txt
# as DataFrame, create new column "year" with all elements set to loop variable,
# then concatenate all DataFrames into a single one
allyears = pd.concat(pd.read_csv(f'names/yob{year}.txt',
                                 names=['name','sex','number']).assign(year=year)
                     for year in range(1880, 2019))

In [98]:
allyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 4 columns):
name      object
sex       object
number    int64
year      int64
dtypes: int64(2), object(2)
memory usage: 74.7+ MB

In [99]:
allyears.year.min(), allyears.year.max()

(1880, 2018)

In [100]:
# save DataFrame to compressed CSV file, dropping uninteresting index
allyears.to_csv('allyears.csv.gz', index=False)